*, *::before, *::after{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  /* background-color: rgb(17, 17, 17); */
}

.main__element{
  display: block;
  width: 100%;
  height: 100vh;
  border: none;
  margin: 0 auto;
  position: absolute;
  --progress-bar-color: transparent;
  z-index: 99999;
}


#bg__gradient{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}